body {
    font-family: "Libre Caslon Text", serif;
    padding-top: 72px;
    background: url('/media/cover-logo.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
}

.social-links a {
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #882222 !important;
}

.block {
    color: white;
}

/* Allauth form formating */
.allauth-form-inner-content p {
    margin-top: 1.5rem;
}

.allauth-form-inner-content input {
    color: #ffffff;
    border-color: #ffffff;
}

.allauth-form-inner-content input::placeholder {
    color: #807c7c;
}
.allauth-form-inner-content label:not [for="id_remember"]{
    display: none;
}