body {
    font-family: "Libre Caslon Text", serif;
    padding-top: 72px;
    background: url('/media/cover-logo.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
}

.social-links a {
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #882222 !important;
}

.block {
    color: white;
}
